*{
    box-sizing: border-box;
    padding: 0;
    margin-top: 0;
    

}

nav.navbar{
background-image: url(./img/1.gif);
padding-right: 10px;
padding-left: 10px;
background-size: cover;
background-position:top;
}
.nav-item:hover{
    
    background-color: rgba(210, 101, 130, 0.309);
}
.container-fluid{
    padding-left: 0!important;
    padding-right: 0!important;
}
img, fieldset{
    max-width: 100%;

}
.banner{

    background-image: url(./img/l\ e\ m\ o\ n.gif);
    width: 100%;
    height: 60px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 12px;
   
    
}
.banner .der{
      
    display: flex;
    height: 85%;
    

}
.banner .izq{
    display: flex;
    height: 85%;
}
.page-link{
    color: #e50979!important;
}

.catebus{
    display: flex;
    justify-content: center;
    flex-wrap: wrap
    
}
label{
    font-family: 'Ubuntu', sans-serif!important;
    color: rgb(94, 92, 93);
    
    
}
body {
    background-image: url(./img/marmol.jpg)!important;
    
}

.form-check-input:checked{
    background-color: #b63b7a!important;
    border-color: #b02a37!important;
}
main{
    display: flex;
    
    

}
.mainhome{
    display: flex;
    padding:20px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
   
    min-height: 100vh;
    margin-bottom: -60px;

}

.mainhome::after {
    content: "";
    display: block;
    height: 60px; 
    margin-top: -20px; 
  }

.btn {
    display: flex;
    position:absolute;
    right: 10px;
    bottom: 25px;
    background-color: #b63b7a!important;
    border-color: rgb(124, 120, 120)!important;
}
.card{
    display: flex;
    margin: 0 auto;
align-items: center;
box-shadow: -10px -10px 5px #56062f6e;


}
section{
    gap:25px
}

div{
    gap:25px;
}
.card .card-img-top{
    width: 100%;
    height: 130px;
    object-fit: cover;
   margin-top: 1rem;
    box-shadow: -5px -5px 5px #24222386;
    
}
.cardevent{
    
}

.texcard{
   
    
    background-color: antiquewhite;
    align-content: center!important;
}

footer{
    display: flex;
    
    bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
    background-color: rgb(200, 108, 136);
    padding: 20px;
    position: relative;
  margin-top: auto;
  height: 75px;
   justify-content: space-between;
    align-items: center;
}
.redes{
    display: flex;
    width: 180px;
   
}

.redeslogo {
   display: flex;
    gap: 20px;
    list-style-type: none;
   margin-top: 10px;
   padding: 5px;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    
}

form{
    display: flex;
      
    align-items: center;
    justify-content: center;
}

form.contacto{
    display: flex; 
    flex-direction: column;
    align-items: center;
    
}

.btncont {
    display: flex;
    background-color: #b63b7a!important;
    border-color: rgb(182, 103, 103)!important;
    margin: 20px;
    color: aliceblue!important; 
    box-shadow: -3px -3px 5px #89566f9f!important;
    
}

.btn-primary{
    box-shadow: -3px -3px 5px #89566f9f!important;
}
.pagevent{
    display: flex;
    padding-top: 7rem;
    padding-bottom: 6rem;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 90px;
    
}
.texcard{
   padding: 2rem;

}

.img-fluid{
    height: 100%!important;
    object-fit: cover!important;
}

.col{
    margin-top: 20px;
    
}



@media (min-width: 768px){
#texto {
    flex: 0 0 auto!important;
    width:50%!important;
}

#image {
    
    FONT-WEIGHT: 100!important;
    flex: 0 0 auto!important;
    width: 50%!important;
}


  

}